.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: rgba(0, 0, 0, 0.41);
    color: white;
    font-family: Arial, sans-serif;
    position: fixed;
    width: 200vh;
    z-index: 100;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-links {
    display: flex;
    gap: 30px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: opacity 0.3s ease;
  }
  
  .nav-links a:hover {
    opacity: 0.7;
  }
  